html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 125%;
}

body {

}

/* TYPOGRAPHY */
nav ul {
  font-size: 0.6rem;
}
.left-nav a,
.right-nav a {
  color: black;
}
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 0.6rem;
}
.about h2 {
  font-size: .6rem;
  font-weight: normal;
}
.about p {
  font-weight: lighter;
}
.recent-posts p {
  list-style-type: disc;
}
h4 {
  font-size: 0.7rem;
}

/* GENERAL */
img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  background-position: center;
}
  
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
  
i {
  color: black;
}

h2 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 60%;
  max-width: 1400px;
  margin: 0 auto;
}

/********* HOME PAGE **********/

  /* HEADER */
.home-hero {
  height: 100vh;
  background-image: url(/Users/MarkHegarty/Sites/project-folder/mark-hegarty-project-one/assets/home-1.jpeg);
  background-size: cover;
  max-width: 100%;
  object-fit: contain;
  background-position: center;
  
}
  
.nav-flex {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

.left-nav {
  display: flex;
  justify-content: flex-start; 
}
.left-nav li {
  padding-right: 1rem;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
}

.right-nav li {
  padding-left: 1rem;
}

h1 {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  letter-spacing: 0.9px;
}

  /* BRANDING DESIGN */
.branding-design {
  height: 25rem;
  background-color: #c3dab7;
}
.overlay-parent {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}

.wood-desk {
 width: 15rem;
 position: relative;
 top: 0;
 left: 0;
}

.circle {
  width: 8rem;
  position: absolute;
  top: 3rem;
  left: 21rem;
    
}

.branding-design-column-parent {
  display: flex;
}
.branding-design-column-parent h3 {
  font-size: 0.7rem;
  font-weight: normal;
}

.branding-column {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 1rem;
  padding-top: 2rem;  
}

.design-column {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 1rem;
  padding-top: 2rem;
}

/* BLOG */
.blog {
  padding-top: 5rem;
}
.blog-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-flex img {
  border-radius: 100%;
  display: flex;
  width: 9rem;
}
.blog-flex i {
  font-size: 1.5rem;
}
.blog-text p {
  text-align: center;
  padding: 2rem 6rem 5rem 6rem;
  line-height: 1rem;
}
.fa-angle-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fa-angle-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ABOUT */
.about {
  background-size: cover;
  max-width: 100%;
  object-fit: contain;
  height: 29rem;
  background-image: url(/Users/MarkHegarty/Sites/project-folder/mark-hegarty-project-one/assets/home-4.jpeg);
}

.about-column-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 6rem;
}

.column-one-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.column-one-content {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: ;
}
.about h2 {
  padding-bottom: 0.5rem;
}
.column-two-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding-left: 1rem;
}
.column-two-content {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about i {
  border-radius: 100%;
  border: solid black;
  padding: 0.5rem;
  margin-right: 1rem;
}

/* TEAM  */
.team h2 {
  display: flex;
  justify-content: center;
  padding: 5rem 0 3rem 0;
  font-size: 0.8rem;
  font-weight: lighter;
}
.grey-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f6f6f6;
  width: 49%;
  height: 8.5rem;
  padding: 1rem
}
.grey-box h3 {
  display: flex;
  font-size: 0.7rem;
  font-weight: normal;
  margin: 0;
  padding-bottom: 1.5rem;
}
.grey-box p {
  font-weight: lighter;
}
.top-gallery {
  display: flex;
  flex-direction: row;
}
.top-gallery ul {
  display: flex;
}

.top-gallery li {
  width: 8.5rem;
}
.top-gallery img {
  
}
.suit {
  margin: 0 1rem 1rem 1rem;
}

.bottom-gallery {
  display: flex;
  flex-direction: row;
}
.bottom-gallery ul {
  display: flex;
}
.bottom-gallery h3 {
  font-size: 0.6rem;
  font-weight: 100;
  padding: 2rem;
  text-align: center;
}
.black-shirt {
  margin: 0 1rem 0 1rem;
}
.white-box {
  width: 37%;
}

/* PORTFOLIO */
.portfolio {
  background-color: #c3dab7;
  margin-top: 6rem;
  display: flex;
}
.green-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.green-box p {
  text-align: center;
  padding: 2rem 7rem;
  text-align: center;
}
.green-box h2 {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: lighter;
}
.portfolio-button {
  display: flex;
  justify-content: center;
}
.portfolio-button button {
  padding: 0.6rem;
  font-size: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border-style: none;
  background-color: white;
  color: black;
}
.portfolio-picture {
  width: 50%;
}

/* CONTACT */
.contact {
  background-color: #333333;
  color: #f6f6f6;
}
.contact a {
  color: #f6f6f6;
}
.contact-flex {
  display: flex;
  padding-top: 5rem;
}
.contact-flex h4 {
  font-weight: normal;
}
.contact-column p {
  padding-bottom: 0.2rem;
}

.recent-posts {
  margin-left: 3rem;
}
.recent-posts p {
  padding-bottom: 0.3rem;
}
.recent-posts h4 {
  margin-left: 1rem;
}
.bullet-flex {
  display: flex;
}
.bullet-point {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 0.3rem;
}
.bullet-point li {
  list-style-type: disc;
}

.sign-up h4, 
.sign-up p {
  display: flex;
  flex-direction: row-reverse;
}
.sign-up p {
  padding-bottom: 1rem;
}
.sign-up button {
  background-color: #c3dab7;
  color: black;
}

form {
  display: flex;
}

.social-media {
  display: flex;
  font-size: 0.6rem;
}
.social-media i {
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  color: #f6f6f6;
}

/* FOOTER */
.brown-box {
  background-color: #333333;
  color: #f6f6f6;
  border-top: solid 0.05rem;
  border-color: rgb(235, 230, 230);
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}
footer p {
  font-size: 0.5rem;
  letter-spacing: 0.3rem;
}
/***** END OF HOME PAGE ******/


/******* BLOG PAGE ******/

/* HEADER */
.blog-hero {
  background-image: url(/Users/MarkHegarty/Sites/project-folder/mark-hegarty-project-one/assets/blog-1.jpeg);
  height: 90vh;
  background-size: cover;
  max-width: 100%;
  object-fit: contain;
  background-position: center;
}

/* HOW TO */
.pages a {
  color: rgb(185, 185, 185);
}
.how-to h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 0.5rem;
}
.alex-flex {
  padding-top: 3rem;
  display: flex;
  width: 50%;
}
.alex-column {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: .6rem;
}
.alex-flex img {
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
}

.alex-flex h3 {
  font-weight: normal;
  font-size: 0.7rem;
  margin: 0;
  padding-bottom: 0.25rem;
}
.date {
  display: flex;
  flex-direction: column;
  width: 4rem;
}
.category{
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.tags {
  display: flex;
  flex-direction: column;
}

.date-flex {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.date-flex h3 {
  font-size: 0.7rem;
  font-weight: normal;
  margin: 3.4rem 0 0.3rem 0;
}
.alex-text {
  padding-top: 3rem;
}
.alex-text p {
  font-size: 0.55rem;
  padding: 0.5rem 0;
}
.alex-flex-all {
  display: flex;
}

.share-flex {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.fa-twitter {
  padding: 0 0.5rem;
}
.social-media-icons {
  font-size: 0.6rem;
}

.share-flex p {
  padding-right: 0.5rem;
}

/* RELATED POSTS */
.related-posts h2 {
  font-size: 1rem;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}
.related-posts-gallery {
  padding-top: 1.5rem;
  border-top: solid 0.05rem;
  border-color: rgb(235, 230, 230);
}
.related-posts-gallery li{
  width: calc(100% / 3 - 0.60rem);
}
.related-posts-gallery ul {
  display: flex;
  justify-content: space-between;
}
.july-flex {
  display: flex;
  padding-bottom: 3rem;
}
.july-flex p {
  padding-right: 10rem;
  padding-top: 0.7rem;
}
/* COMMENTS */
.comments h2 {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 0.05rem;
  border-color: rgb(235, 230, 230);
}
.daniel {
  display: flex;
}
.comment-box-one {
  margin-left: 1rem;
  padding: 0.5rem 0 1rem 0.5rem;
  background-color: #f6f6f6;
  width: 95%;
  height: 4.5rem;
  
}
.comment-box-one p {
  padding-bottom: 0.5rem
}
.comments-flex {
  margin-top: 1.5rem;
  
}
.daniel img {
  width: 2.4rem;
}

.jennifer {
  display: flex;
  margin-top: 1rem;
}
.jennifer img {
  width: 2.4rem;
}

.leave-comment h2{
  margin-top: 3rem;
}

.comment-info {
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
}
.enter-name,
.email-box,
.subject {
  width: 12rem;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}
.comment-here {
  font-size: 0.6rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
.comment-button button {
  padding: 2rem 0 0.3rem 0;
  font-size: 0.5rem;
  background-color: white;
  border-style: none;
  border-bottom: solid 0.05rem;
  border-color: rgb(175, 175, 175);
}
.comment-button a {
  color: black;
}
.comment-button {
  margin-bottom: 6rem;
}

input {
  border-style: none;
  border-bottom: solid 0.05rem;
  border-color: rgb(235, 230, 230);
}

/***** CONTACT PAGE *****/

/* HEADER */
.contact-hero {
  background-image: url(/Users/MarkHegarty/Sites/project-folder/mark-hegarty-project-one/assets/contact-1.jpeg);
  background-size: cover;
  max-width: 100%;
  object-fit: contain;
  background-position: center;
  height: 7.5rem;
  padding-top: 4rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.contact-hero span {
  display: block;
}
.contact-details h3 {
  padding-top: 4rem;
}
.contact-text {
  width: 50%;
}

/* CONTACT DETAILS */
.contact-details h3 {
  font-size: 0.7rem;
}
.contact-details-column {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}
.email-column {
  display: flex;
flex-direction: column;
}
.email-column a {
  font-size: 0.6rem;
  color: black;
}
.phone-column,
.address-column,
.email-column {
  padding-left: 3rem;
}

/* GET IN TOUCH */
.get-in-touch h3 {
  padding-top: 1rem;
  font-size: 0.7rem;
}
.get-in-touch p {
  padding-bottom: 3rem;
}


.message-button button {
  padding: 2rem 0 0.3rem 0;
  font-size: 0.5rem;
  background-color: white;
  border-style: none;
  border-bottom: solid 0.05rem;
  border-color: rgb(175, 175, 175);
}
.message-button {
  margin-bottom: 6rem;
}

/* MEDIA QUERIES */
@media (max-width:1279px) {
  .circle {
    display: none;
  }
  .july-flex p {
    display: none;
    padding: 0;
  }
}
@media (max-width:1100px) {
  h1 {
    padding-top: 10rem;
  }
  .blog-text p {
    padding: 2rem 0rem 5rem 0rem;
  }
  .about {
    display: none;
  }
  .top-gallery li {
    width: 100%;
  }
  .suit {
    margin: 0;
  }
  .suit img {
    width: 100%;
    margin: 0;
  }
  .blondy img {
    width: 100%;
  }
  .top-gallery {
    display: block;
    justify-content: center;
  }
  .top-gallery ul {
    display: flex;
  }
  .grey-box,
  .grey-box h3 {
    width: 80%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: white;
  }
  .bottom-gallery {
    display: block;
  }
  .bottom-gallery ul {
    display: flex;
  }
  .black-shirt {
    margin: 0;
  }
  .white-box {
    width: 100%;
  }
  .team h2 {
    padding: 0;
    padding-bottom: 2rem;
  }
  .contact-flex {
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }
  .contact-column {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .contact-column h4 {
    margin-top: 4rem;
  }
  .recent-posts {
    margin: 0;
    padding: 0;
  }
  .sign-up {
    margin: 0;
    padding: 0;
  }
  .sign-up h4,
  .sign-up p {
    flex-direction: row;
  }
  .green-box p {
    padding: 2rem 1rem;
  }

  /* BLOG PAGE */
  .date-flex {
    flex-direction: column;
  }
  .category {
    padding: 0;
  }
  .alex-flex-all {
    display: block;
  }
  .comment-info {
    flex-direction: column;
  }
}

@media (max-width: 870px) {
  .left-nav,
  .right-nav {
    flex-direction: column;
  }
  .left-nav li,
  .right-nav li {
    padding-bottom: 0.5rem;
  }
  .branding-design-column-parent {
    flex-direction: column;
  }
  .branding-column,
  .design-column {
    padding-top: 0.5rem;
  }
  .comment-box-one {
    height: 5.8rem;
  }
  .contact-hero h2 {
    display: none;
  }
}